<nav class="col-2 nav">
	<a href="/" class="crow-icon"><i class="fa-solid fa-crow"></i></a>
	<a href="/"><i class="fa-solid fa-house"></i></a>
	<a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
	
	<a href="/notifications"><i class="fa-regular fa-bell"></i></a>
	<a href="/messages"><i class="fa-regular fa-message"></i></a>
	<a href="/profile"><i class="fa-regular fa-user"></i></a>
	<a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</nav>