<nav class="col-2 nav">
	<a href="/"><i class="fa-solid fa-crow" style="color: #0080ff;"></i></a>
	<a href="/"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
	<a href="/search"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a>
	
	<a href="/notifications"><i class="fa-regular fa-bell" style="color: #000000"></i></a>
	<a href="/messages"><i class="fa-regular fa-message" style="color: #000000;"></i></a>
	<a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #000000;"></i></a>
</nav>