<div class="post-form-container">
	<div class="user-img-container">
		<img src={{user.profilePic}} alt="user profile picture">
	</div>
	<div class="text-container">
		<textarea id="post-textarea" placeholder="What is happening?"></textarea>
	</div>
	<div class="button-container">
		<button id="submit-post" disabled> Post </button>
	</div>
</div>