<div class="wrapper-auth">
	<div class="logo-container">
		<img src="images/logo.png" alt="logo">
		<h3>Welcome to Crow Chirp!</h3>
	</div>
	<div class="login">
		<h2> Login </h2>

		{{#if errorMsg}}
  			<div class="alert alert-danger">{{errorMsg}}</div>
		{{/if}}

		<form method="post">
			<input type="text" name="username" id="username" placeholder="Username" required autocomplete="off" value="Detopall">
			<input type="password" name="password" id="password" placeholder="Password" required value="denis123">
			<input type="submit" value="Login" id="login">
		</form>
		<a href="/register"> Don't have an account? Register! </a>
	</div>
</div>
