<div class="title-container">
	<h1> {{pageTitle}}</h1>
</div>

	{{#unless profileUser}}
		<p class="user-not-found">Check the username after the "/profile/" in the URL. This user does not exist.</p>
	{{else}}
		{{> post-actions-modal}}
		<div class="post-container"></div>
	{{/unless}}

<script defer src="/js/profile-page.js"></script>