<div class="wrapper">
	<div class="register">
		<h2> Register </h2>
		<form method="post">
			<input type="text" name="firstName" id="firstName" placeholder="First Name" required>
			<input type="text" name="lastName" id="lastName" placeholder="Last Name" required>

			<input type="text" name="username" id="username" placeholder="Username" required>
			<input type="password" name="password" id="password" placeholder="Password" required>
			<input type="password" name="passwordConf" id="passwordConf" placeholder="Confirm Password" required>
			<input type="submit" value="Register">
		</form>
		<a href="/login"> Already have an account? Login! </a>
	</div>
</div>
