<div class="title-container">
	<h1> {{pageTitle}}</h1>
</div>

<div class="search">
	<div class="search-input-container">
		<i class="fa-solid fa-magnifying-glass"></i>
		<input type="text" name="search" id="search">
	</div>
	<div class="tabs-container"></div>
	<div class="post-container"></div>
	<div class="user-container"></div>
	{{> post-actions-modal}}
</div>

{{#section 'search-page'}}
	<script defer src="/js/search-page.js"></script>
{{/section}}