:root {
	--twitter-blue: #1FA2F1;
	--buttonHoverBG: #D4EDFF;
	--lightGrey: rgb(230, 236, 240);
	--spacing: 1rem;
	--greyText: rgb(101, 119, 134);
	--greyButtonText: rgba(0, 0, 0, 0.34);
	--button-comment: rgba(0, 0, 255, 0.2);
	--button-heart: rgba(255, 0, 0, 0.2);
	--button-heart-clicked: rgba(255, 0, 0, 0.8);
	--button-retweet: rgba(0, 255, 0, 0.2);
	--button-retweet-clicked: rgba(0, 210, 0, 0.8);
}

body {
	background-color: var(--twitter-blue);
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

h1 {
	font-size: 1.7rem;
	font-weight: bold;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background-color: transparent;
	border: none;
	color: var(--greyButtonText);
}

button i, button span {
	pointer-events: none;
}

.nav {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    height: 100%;
}

.nav a {
	display: block;
	margin: 0.5rem 2rem 1.5rem 0.5rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.nav a.crow-icon {
	color: white;
}

.nav a.crow-icon:hover {
	color: black;
}

.nav a:hover {
	color: var(--buttonHoverBG);
}

.wrapper.auth {
	width: 25rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.login, .register {
	border-radius: 0.5rem;
    padding: 1rem;
    width: 80%;
    max-width: 30rem;
    background-color: white;
    text-align: center;
	margin: 1rem 0 1rem 0;
}

.main-wrapper {
	background-color: white;
	border-left: 0.1rem solid var(--lightGrey);
	border-right: 0.1rem solid var(--lightGrey);
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	border: solid black 0.2rem;
}

.title-container {
	height: 3rem;
	padding: 0 var(--spacing);
	display: flex;
	align-items: center;
	border-bottom: 0.1rem solid var(--lightGrey);
	flex-shrink: 0;
}

.title-container h1 {
	flex: 1;
}

/* NEW POST CREATING CONTAINER */

.post-form-container {
	display: flex;
	padding: var(--spacing);
	border-bottom: 0.7rem solid var(--lightGrey);
	flex-shrink: 0;
	justify-content: space-around;
}

.modal .post-form-container {
	border: none;
	padding: var(--spacing) 0 0 0;
}

.modal .post {
	padding: 0 0 var(--spacing) 0;
}

.modal-title {
	font-weight: bold;
}

.modal .post-form-container .user-img-container {
	margin-right: -3.5rem;
	margin-top: 0.65rem;
}

.user-img-container {
	width: 3rem;
	height: 3rem;
}

.user-img-container img {
	width: 100%;
	border-radius: 50%;
	border: solid black 0.01rem;
}


.textarea-container {
	flex: 0.7;
	padding-left: var(--spacing);
}

.textarea-container textarea {
	width: 100%;
	resize: none;
	border: none;
	font-size: 1.2rem;
	border: 0.1rem solid var(--lightGrey);
	border-radius: 0.2rem 0.5rem;
	padding: 0.5rem;
}

.textarea-container textarea:focus {
	outline: none;
}

#submit-post-button {
	background-color: var(--twitter-blue);
	border-radius: 2.5rem;
	border: none;
	padding: 0.5rem 1rem;
	color: black;
	font-weight: bold;
}

#submit-post-button:hover {
	background-color: aquamarine;
}

#submit-post-button:disabled {
	background-color: var(--lightGrey);
}

/* POST CONTAINERS */

.post {
	display: flex;
	flex-direction: column;
	padding: var(--spacing);
	cursor: pointer;
	border-bottom: 0.1rem solid var(--lightGrey);
	flex-shrink: 0;
}

.main-content-container {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.post-content-container {
	padding-left: var(--spacing);
	display: flex;
	flex-direction: column;
	flex: 1;
}

.display-name {
	font-weight: bold;
}

.post-content-container .header {
	display: flex;
}

.post-content-container .header .date {
	flex: 1;
}

.delete-post-button {
	margin-right: var(--spacing);
}

.header a:hover {
	text-decoration: underline;
}

.header a, .header span {
	padding-right: 0.5rem;
}

.username, .date {
	color: var(--greyText);
}

.post-footer {
	display: flex;
	align-items: center;
}

.post-footer .post-button-container {
	flex: 1;
	display: flex;
}

.post-footer .post-button-container button {
	padding: 0.1rem 0.3rem;
}

.post-footer .post-button-container:nth-child(1) button:hover {
	background-color: var(--button-heart);
	color: red;
	border-radius: 50%;
}

.post-footer .post-button-container:nth-child(2) button:hover {
	background-color: var(--button-retweet);
	color: green;
	border-radius: 50%;
}

.post-footer .post-button-container:nth-child(3) button:hover {
	background-color: var(--button-comment);
	color: blue;
	border-radius: 50%;
}

.post-button-container.like button.active i {
	color: var(--button-heart-clicked);
	font-weight: bold;
}

.post-button-container.retweet button.active i {
	color: var(--button-retweet-clicked);
	font-weight: bold;
}

.post-action-container {
	padding-left: 4rem;
	font-size: 1rem;
	color: var(--greyText);
	text-decoration: underline;
	margin-bottom: var(--spacing);
}

.reply-flag {
	margin-bottom: 0.1rem;
}

.reply-flag a {
	color: var(--twitter-blue);
}

.post.largeFont .post-body, .post.largeFont .post-footer {
	font-size: 1.4rem;

}


/* LOGIN AND REGISTER PAGE */

.login, .register {
	border: solid black 0.2rem;
}

.login h2, .register h2 {
	margin-bottom: 1.5rem;
}

.login form, .register form {
    display: flex;
    flex-flow: column wrap;
}

input[type="text"], input[type="password"] {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    background-color: lightgrey;
}

input[type="submit"] {
    background-color: var(--twitter-blue);
    border: none;
    color: white;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

input[type="submit"]:hover {
    background-color: #5999FF;
}
