:root {
	--twitter-blue: #1FA2F1;
	--buttonHoverBG: #D4EDFF;
	--lightGrey: rgb(230, 236, 240);
	--spacing: 1rem;
}

body {
    background-color: var(--twitter-blue);
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 1.7rem;
	font-weight: bold;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.nav {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    height: 100%;
}

.nav a {
	display: block;
	margin: 0.5rem 2rem 1.5rem 0.5rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.nav a.crow-icon {
	color: white;
}

.nav a.crow-icon:hover {
	color: black;
}

.nav a:hover {
	color: var(--buttonHoverBG);
}

.wrapper.auth {
	width: 25rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.login, .register {
	border-radius: 0.5rem;
    padding: 1rem;
    width: 80%;
    max-width: 30rem;
    background-color: white;
    text-align: center;
	margin: 1rem 0 1rem 0;
}

.main-wrapper {
	background-color: white;
	border-left: 0.1rem solid var(--lightGrey);
	border-right: 0.1rem solid var(--lightGrey);
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
}

.title-container {
	height: 3rem;
	padding: 0 var(--spacing);
	display: flex;
	align-items: center;
	border-bottom: 0.1rem solid var(--lightGrey);
	flex-shrink: 0;
}

.title-container h1 {
	flex: 1;
}

.post-form-container {
	display: flex;
	padding: var(--spacing);
	border-bottom: 0.7rem solid var(--lightGrey);
	flex-shrink: 0;
}

.user-img-container {
	width: 3rem;
	height: 3rem;
}

.user-img-container img {
	width: 100%;
	border-radius: 50%;
	background-color: lightgrey;
}



/* LOGIN AND REGISTER PAGE */

.login h2, .register h2 {
	margin-bottom: 1.5rem;
}

.login form, .register form {
    display: flex;
    flex-flow: column wrap;
}

input[type="text"], input[type="password"] {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    background-color: lightgrey;
}

input[type="submit"] {
    background-color: var(--twitter-blue);
    border: none;
    color: white;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

input[type="submit"]:hover {
    background-color: #5999FF;
}
